require "rosetta"

@[Rosetta::DefaultLocale(:<%= @default_locale %>)]
@[Rosetta::AvailableLocales(<%= @available_locales.map{|l| ":#{l}"}.join(", ") %>)]
module Rosetta
end

Rosetta::Backend.load("<%= @locales_dir %>")
